<h1>edit-ya</h1>

<%# error handling for form submissions %>
<%= form_with(model: @restaurant, local: true) do |form| %>
  <% if @restaurant.errors.any? %>
    <h2>
      <%= pluralize(@restaurant.errors.count, "error") %>
        prohibited this restaurant from being added:
    </h2>
    <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
<%# end of error handling %>

<p>
    <%= form.label :name, "Name:" %><br>
    <%= form.text_field :name %>
</p>
 
<p>
    <%= form.label :address, "Address:" %><br>
    <%= form.text_field :address %>
</p> 
<p>
    <%= form.label :phone, "Phone Number:" %><br>
    <%= form.text_field :phone %>
</p>
 
 <p>
    <%= form.label :website, "Website:" %><br>
    <%= form.text_field :website %>
</p>

  <p>
    <%= form.submit "Add Restaurant" %>
  </p>
<% end %>